.hide-on-mobile {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .hide-on-smallest {
    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .ant-modal {
      width: 100% !important;
      max-width: 100% !important;
      padding: 0 10px;
    }

    .ant-table-wrapper {
      overflow-x: auto;
    }

    .ant-table {
      table-layout: auto !important;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
    }
  }